{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'assets/images/blog_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>Shoppers is an online shopping website that provides a one-stop solution for consumers looking to purchase a variety of products. The website offers a user-friendly interface and a wide range of products in categories such as electronics, fashion, home and kitchen, health and beauty, and more. Shoppers aims to simplify the shopping experience by providing customers with a convenient and secure platform to browse, compare, and purchase products from different brands and retailers.</p>
            <p>The website also offers multiple payment options, fast and reliable shipping, and excellent customer support to ensure a hassle-free shopping experience for its customers. Whether you are looking for the latest gadgets, trendy fashion items, or household essentials, Shoppers has something for everyone.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
  
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'assets/images/person_4.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Tirth Suthar</h3>
                  <p class="block-38-subheading">Project Manager / Developer</p>
                </div>
                <div class="block-38-body">
                  <p>As a manager, adding content to a website involves a variety of tasks and responsibilities aimed at ensuring that the website's content is accurate, up-to-date, and engaging for its audience. The manager may be responsible for overseeing a team of content creators, including writers, editors, and graphic designers, or may be directly involved in content creation themselves.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'assets/images/person_2.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Khushi Sardhara</h3>
                  <p class="block-38-subheading">Tech Lead / Developer</p>
                </div>
                <div class="block-38-body">
                  <p>As a tech lead, adding content to a website involves collaborating with various teams and individuals to ensure that the website's content is presented in the most effective and engaging manner. This may involve working closely with content creators, designers, developers, and other stakeholders to define the website's content strategy and ensure that it aligns with the overall goals and objectives of the project.</p>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'assets/images/person_3.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Patrick Marx</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'assets/images/person_4.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Mike Coolbert</h3>
                  <p class="block-38-subheading">Sales Manager</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  

    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}